In [51]:
import pandas as pd

In [84]:
df = pd.read_csv('dataset.csv')

In [85]:
# Lets see what dataset we have loaded
df

,loan_id,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male
8,xqd20160909,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/8/2016 16:00,NaN,28,college,male
9,xqd20160010,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
10,xqd20160011,PAIDOFF,300,7,9/10/2016,9/16/2016,9/11/2016 19:11,NaN,29,college,male
11,xqd20160012,PAIDOFF,1000,15,9/10/2016,10/9/2016,10/9/2016 16:00,NaN,39,High School or Below,male
12,xqd20160013,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/7/2016 23:32,NaN,26,college,male
13,xqd20160014,PAIDOFF,900,7,9/10/2016,9/16/2016,9/13/2016 21:57,NaN,26,college,female
14,xqd20160015,PAIDOFF,1000,7,9/10/2016,9/16/2016,9/15/2016 14:27,NaN,27,High School or Below,male
15,xqd20160016,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 16:00,NaN,26,college,male
16,xqd20160017,PAIDOFF,1000,30,9/10/2016,10/9/2016,9/27/2016 14:21,NaN,40,High School or Below,male
17,xqd20160018,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/23/2016 18:49,NaN,32,High School or Below,male
18,xqd20160019,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/5/2016 22:05,NaN,32,High School or Below,male
19,xqd20160020,PAIDOFF,800,30,9/10/2016,10/9/2016,9/23/2016 7:42,NaN,26,college,male
20,xqd20160021,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/9/2016 9:00,NaN,26,college,male
21,xqd20160022,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/8/2016 17:09,NaN,43,High School or Below,female
22,xqd20160023,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/9/2016 23:00,NaN,25,High School or Below,male
23,xqd20160024,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
24,xqd20160025,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/3/2016 12:50,NaN,26,college,male
25,xqd20160026,PAIDOFF,1000,30,9/10/2016,10/9/2016,9/29/2016 12:18,NaN,29,High School or Below,male
26,xqd20160027,PAIDOFF,800,15,9/10/2016,9/24/2016,9/21/2016 20:16,NaN,39,Bechalor,male
27,xqd20170088,PAIDOFF,1000,15,9/10/2016,9/24/2016,9/23/2016 8:21,NaN,34,Bechalor,male
28,xqd20160029,PAIDOFF,1000,30,9/11/2016,10/10/2016,9/22/2016 19:17,NaN,31,college,male
29,xqd20160030,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/9/2016 17:33,NaN,33,college,male
...,...,...,...,...,...,...,...,...,...,...,...
470,xqd20160471,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/28/2016 15:02,2.0,32,High School or Below,male
471,xqd20160472,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/4/2016 14:46,24.0,27,Bechalor,male
472,xqd20160473,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/16/2016 12:12,51.0,33,college,male
473,xqd20160474,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:02,3.0,30,High School or Below,male
474,xqd20160475,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 11:34,2.0,26,High School or Below,female
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
477,xqd20160478,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/20/2016 17:38,9.0,27,college,male
478,xqd20160479,COLLECTION_PAIDOFF,1000,15,9/12/2016,10/11/2016,11/7/2016 8:55,27.0,22,High School or Below,male
479,xqd20160480,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:26,1.0,27,Bechalor,male
480,xqd20160481,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/25/2016 13:44,29.0,30,Bechalor,male
481,xqd20160482,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/29/2016 15:07,3.0,27,High School or Below,male
482,xqd20160483,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/27/2016 11:40,1.0,47,college,male
483,xqd20160484,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/18/2016 19:08,7.0,30,college,male
484,xqd20160485,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/15/2016 9:23,4.0,26,college,male
485,xqd20160486,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 10:07,3.0,38,High School or Below,male
486,xqd20160487,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,11/21/2016 11:36,56.0,46,High School or Below,male
487,xqd20160488,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 12:02,2.0,35,Bechalor,male
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/9/2016 19:30,13.0,45,college,male
489,xqd20160490,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:04,1.0,36,college,male
490,xqd20160491,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/17/2016 10:53,6.0,38,High School or Below,male
491,xqd20160492,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 13:41,29.0,27,college,male
492,xqd20160493,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/25/2016 17:44,14.0,27,Bechalor,male
493,xqd20160494,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,9/29/2016 12:45,3.0,29,college,male
494,xqd20160495,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 14:45,2.0,30,High School or Below,male
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

In [86]:
# We don't need all the columns. Right?
# Let's drop the unneccessary things.

df = df.drop(['loan_id', 'effective_date', 'due_date', 'paid_off_time', 'past_due_days'], axis = 1)

In [87]:
# The dataframe holds the needed columns now. Cool.
df

            loan_status  Principal  terms  age             education  Gender
0               PAIDOFF       1000     30   45  High School or Below    male
1               PAIDOFF       1000     30   50              Bechalor  female
2               PAIDOFF       1000     30   33              Bechalor  female
3               PAIDOFF       1000     15   27               college    male
4               PAIDOFF       1000     30   28               college  female
5               PAIDOFF        300      7   35       Master or Above    male
6               PAIDOFF       1000     30   29               college    male
7               PAIDOFF       1000     30   36               college    male
8               PAIDOFF       1000     30   28               college    male
9               PAIDOFF        800     15   26               college    male
10              PAIDOFF        300      7   29               college    male
11              PAIDOFF       1000     15   39  High School or Below    male
12              PAIDOFF       1000     30   26               college    male
13              PAIDOFF        900      7   26               college  female
14              PAIDOFF       1000      7   27  High School or Below    male
15              PAIDOFF        800     15   26               college    male
16              PAIDOFF       1000     30   40  High School or Below    male
17              PAIDOFF       1000     15   32  High School or Below    male
18              PAIDOFF       1000     30   32  High School or Below    male
19              PAIDOFF        800     30   26               college    male
20              PAIDOFF       1000     30   26               college    male
21              PAIDOFF       1000     30   43  High School or Below  female
22              PAIDOFF       1000     30   25  High School or Below    male
23              PAIDOFF       1000     15   26               college    male
24              PAIDOFF       1000     30   26               college    male
25              PAIDOFF       1000     30   29  High School or Below    male
26              PAIDOFF        800     15   39              Bechalor    male
27              PAIDOFF       1000     15   34              Bechalor    male
28              PAIDOFF       1000     30   31               college    male
29              PAIDOFF       1000     30   33               college    male
..                  ...        ...    ...  ...                   ...     ...
470  COLLECTION_PAIDOFF       1000     15   32  High School or Below    male
471  COLLECTION_PAIDOFF       1000     30   27              Bechalor    male
472  COLLECTION_PAIDOFF        800     15   33               college    male
473  COLLECTION_PAIDOFF       1000     30   30  High School or Below    male
474  COLLECTION_PAIDOFF        800     15   26  High School or Below  female
475  COLLECTION_PAIDOFF       1000     30   35               college  female
476  COLLECTION_PAIDOFF        800     15   46               college  female
477  COLLECTION_PAIDOFF       1000     30   27               college    male
478  COLLECTION_PAIDOFF       1000     15   22  High School or Below    male
479  COLLECTION_PAIDOFF       1000     30   27              Bechalor    male
480  COLLECTION_PAIDOFF       1000     15   30              Bechalor    male
481  COLLECTION_PAIDOFF       1000     15   27  High School or Below    male
482  COLLECTION_PAIDOFF        800     15   47               college    male
483  COLLECTION_PAIDOFF       1000     30   30               college    male
484  COLLECTION_PAIDOFF       1000     30   26               college    male
485  COLLECTION_PAIDOFF       1000     30   38  High School or Below    male
486  COLLECTION_PAIDOFF        800     15   46  High School or Below    male
487  COLLECTION_PAIDOFF       1000     30   35              Bechalor    male
488  COLLECTION_PAIDOFF       1000     15   45               college    male
489  COLLECTION_PAIDOFF       1000     30   36               college    male
490  COLLECTION_PAIDOFF       1000     30   38  High School or Below    male
491  COLLECTION_PAIDOFF       1000     30   27               college    male
492  COLLECTION_PAIDOFF       1000     30   27              Bechalor    male
493  COLLECTION_PAIDOFF       1000     15   29               college    male
494  COLLECTION_PAIDOFF       1000     30   30  High School or Below    male
495  COLLECTION_PAIDOFF       1000     30   28  High School or Below    male
496  COLLECTION_PAIDOFF       1000     15   26  High School or Below    male
497  COLLECTION_PAIDOFF        800     15   30               college    male
498  COLLECTION_PAIDOFF       1000     30   38               college  female
499  COLLECTION_PAIDOFF       1000     30   28  High School or Below    male

[500 rows x 6 columns]

In [88]:
#In order to get the information of the whole dataframe, use info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
loan_status    500 non-null object
Principal      500 non-null int64
terms          500 non-null int64
age            500 non-null int64
education      500 non-null object
Gender         500 non-null object
dtypes: int64(3), object(3)
memory usage: 23.5+ KB

In [89]:
# Lets clean the data and create columns if needed.
df['Gender'].unique()

array(['male', 'female'], dtype=object)

In [90]:
# We can see that our dateset has two unique string values for GENDER.
# We can't assign numeric values like female = 1 and male = 2 because of feminism. 
# Just kidding. We shouldn't assign because then they will be a factor that denotes intensity. We want to differentiate our category.
# So we are going to have sepeate columns for two genders.

# Create df with two dummy columns named of genders.
df_sex = pd.get_dummies(df['Gender'])

In [91]:
df_sex

     female  male
0         0     1
1         1     0
2         1     0
3         0     1
4         1     0
5         0     1
6         0     1
7         0     1
8         0     1
9         0     1
10        0     1
11        0     1
12        0     1
13        1     0
14        0     1
15        0     1
16        0     1
17        0     1
18        0     1
19        0     1
20        0     1
21        1     0
22        0     1
23        0     1
24        0     1
25        0     1
26        0     1
27        0     1
28        0     1
29        0     1
..      ...   ...
470       0     1
471       0     1
472       0     1
473       0     1
474       1     0
475       1     0
476       1     0
477       0     1
478       0     1
479       0     1
480       0     1
481       0     1
482       0     1
483       0     1
484       0     1
485       0     1
486       0     1
487       0     1
488       0     1
489       0     1
490       0     1
491       0     1
492       0     1
493       0     1
494       0     1
495       0     1
496       0     1
497       0     1
498       1     0
499       0     1

[500 rows x 2 columns]

In [92]:
df = pd.concat([df,df_sex] , axis=1)

In [93]:
df

,loan_status,Principal,terms,age,education,Gender,female,male
0,PAIDOFF,1000,30,45,High School or Below,male,0,1
1,PAIDOFF,1000,30,50,Bechalor,female,1,0
2,PAIDOFF,1000,30,33,Bechalor,female,1,0
3,PAIDOFF,1000,15,27,college,male,0,1
4,PAIDOFF,1000,30,28,college,female,1,0
5,PAIDOFF,300,7,35,Master or Above,male,0,1
6,PAIDOFF,1000,30,29,college,male,0,1
7,PAIDOFF,1000,30,36,college,male,0,1
8,PAIDOFF,1000,30,28,college,male,0,1
9,PAIDOFF,800,15,26,college,male,0,1
10,PAIDOFF,300,7,29,college,male,0,1
11,PAIDOFF,1000,15,39,High School or Below,male,0,1
12,PAIDOFF,1000,30,26,college,male,0,1
13,PAIDOFF,900,7,26,college,female,1,0
14,PAIDOFF,1000,7,27,High School or Below,male,0,1
15,PAIDOFF,800,15,26,college,male,0,1
16,PAIDOFF,1000,30,40,High School or Below,male,0,1
17,PAIDOFF,1000,15,32,High School or Below,male,0,1
18,PAIDOFF,1000,30,32,High School or Below,male,0,1
19,PAIDOFF,800,30,26,college,male,0,1
20,PAIDOFF,1000,30,26,college,male,0,1
21,PAIDOFF,1000,30,43,High School or Below,female,1,0
22,PAIDOFF,1000,30,25,High School or Below,male,0,1
23,PAIDOFF,1000,15,26,college,male,0,1
24,PAIDOFF,1000,30,26,college,male,0,1
25,PAIDOFF,1000,30,29,High School or Below,male,0,1
26,PAIDOFF,800,15,39,Bechalor,male,0,1
27,PAIDOFF,1000,15,34,Bechalor,male,0,1
28,PAIDOFF,1000,30,31,college,male,0,1
29,PAIDOFF,1000,30,33,college,male,0,1
...,...,...,...,...,...,...,...,...
470,COLLECTION_PAIDOFF,1000,15,32,High School or Below,male,0,1
471,COLLECTION_PAIDOFF,1000,30,27,Bechalor,male,0,1
472,COLLECTION_PAIDOFF,800,15,33,college,male,0,1
473,COLLECTION_PAIDOFF,1000,30,30,High School or Below,male,0,1
474,COLLECTION_PAIDOFF,800,15,26,High School or Below,female,1,0
475,COLLECTION_PAIDOFF,1000,30,35,college,female,1,0
476,COLLECTION_PAIDOFF,800,15,46,college,female,1,0
477,COLLECTION_PAIDOFF,1000,30,27,college,male,0,1
478,COLLECTION_PAIDOFF,1000,15,22,High School or Below,male,0,1
479,COLLECTION_PAIDOFF,1000,30,27,Bechalor,male,0,1
480,COLLECTION_PAIDOFF,1000,15,30,Bechalor,male,0,1
481,COLLECTION_PAIDOFF,1000,15,27,High School or Below,male,0,1
482,COLLECTION_PAIDOFF,800,15,47,college,male,0,1
483,COLLECTION_PAIDOFF,1000,30,30,college,male,0,1
484,COLLECTION_PAIDOFF,1000,30,26,college,male,0,1
485,COLLECTION_PAIDOFF,1000,30,38,High School or Below,male,0,1
486,COLLECTION_PAIDOFF,800,15,46,High School or Below,male,0,1
487,COLLECTION_PAIDOFF,1000,30,35,Bechalor,male,0,1
488,COLLECTION_PAIDOFF,1000,15,45,college,male,0,1
489,COLLECTION_PAIDOFF,1000,30,36,college,male,0,1
490,COLLECTION_PAIDOFF,1000,30,38,High School or Below,male,0,1
491,COLLECTION_PAIDOFF,1000,30,27,college,male,0,1
492,COLLECTION_PAIDOFF,1000,30,27,Bechalor,male,0,1
493,COLLECTION_PAIDOFF,1000,15,29,college,male,0,1
494,COLLECTION_PAIDOFF,1000,30,30,High School or Below,male,0,1
495,COLLECTION_PAIDOFF,1000,30,28,High School or Below,male,0,1
496,COLLECTION_PAIDOFF,1000,15,26,High School or Below,male,0,1
497,COLLECTION_PAIDOFF,800,15,30,college,male,0,1
498,COLLECTION_PAIDOFF,1000,30,38,college,female,1,0
499,COLLECTION_PAIDOFF,1000,30,28,High School or Below,male,0,1

In [94]:
# Now drop the gender column from the main df and add df_sex to df

df = df.drop(['Gender'], axis=1)

In [95]:
df

,loan_status,Principal,terms,age,education,female,male
0,PAIDOFF,1000,30,45,High School or Below,0,1
1,PAIDOFF,1000,30,50,Bechalor,1,0
2,PAIDOFF,1000,30,33,Bechalor,1,0
3,PAIDOFF,1000,15,27,college,0,1
4,PAIDOFF,1000,30,28,college,1,0
5,PAIDOFF,300,7,35,Master or Above,0,1
6,PAIDOFF,1000,30,29,college,0,1
7,PAIDOFF,1000,30,36,college,0,1
8,PAIDOFF,1000,30,28,college,0,1
9,PAIDOFF,800,15,26,college,0,1
10,PAIDOFF,300,7,29,college,0,1
11,PAIDOFF,1000,15,39,High School or Below,0,1
12,PAIDOFF,1000,30,26,college,0,1
13,PAIDOFF,900,7,26,college,1,0
14,PAIDOFF,1000,7,27,High School or Below,0,1
15,PAIDOFF,800,15,26,college,0,1
16,PAIDOFF,1000,30,40,High School or Below,0,1
17,PAIDOFF,1000,15,32,High School or Below,0,1
18,PAIDOFF,1000,30,32,High School or Below,0,1
19,PAIDOFF,800,30,26,college,0,1
20,PAIDOFF,1000,30,26,college,0,1
21,PAIDOFF,1000,30,43,High School or Below,1,0
22,PAIDOFF,1000,30,25,High School or Below,0,1
23,PAIDOFF,1000,15,26,college,0,1
24,PAIDOFF,1000,30,26,college,0,1
25,PAIDOFF,1000,30,29,High School or Below,0,1
26,PAIDOFF,800,15,39,Bechalor,0,1
27,PAIDOFF,1000,15,34,Bechalor,0,1
28,PAIDOFF,1000,30,31,college,0,1
29,PAIDOFF,1000,30,33,college,0,1
...,...,...,...,...,...,...,...
470,COLLECTION_PAIDOFF,1000,15,32,High School or Below,0,1
471,COLLECTION_PAIDOFF,1000,30,27,Bechalor,0,1
472,COLLECTION_PAIDOFF,800,15,33,college,0,1
473,COLLECTION_PAIDOFF,1000,30,30,High School or Below,0,1
474,COLLECTION_PAIDOFF,800,15,26,High School or Below,1,0
475,COLLECTION_PAIDOFF,1000,30,35,college,1,0
476,COLLECTION_PAIDOFF,800,15,46,college,1,0
477,COLLECTION_PAIDOFF,1000,30,27,college,0,1
478,COLLECTION_PAIDOFF,1000,15,22,High School or Below,0,1
479,COLLECTION_PAIDOFF,1000,30,27,Bechalor,0,1
480,COLLECTION_PAIDOFF,1000,15,30,Bechalor,0,1
481,COLLECTION_PAIDOFF,1000,15,27,High School or Below,0,1
482,COLLECTION_PAIDOFF,800,15,47,college,0,1
483,COLLECTION_PAIDOFF,1000,30,30,college,0,1
484,COLLECTION_PAIDOFF,1000,30,26,college,0,1
485,COLLECTION_PAIDOFF,1000,30,38,High School or Below,0,1
486,COLLECTION_PAIDOFF,800,15,46,High School or Below,0,1
487,COLLECTION_PAIDOFF,1000,30,35,Bechalor,0,1
488,COLLECTION_PAIDOFF,1000,15,45,college,0,1
489,COLLECTION_PAIDOFF,1000,30,36,college,0,1
490,COLLECTION_PAIDOFF,1000,30,38,High School or Below,0,1
491,COLLECTION_PAIDOFF,1000,30,27,college,0,1
492,COLLECTION_PAIDOFF,1000,30,27,Bechalor,0,1
493,COLLECTION_PAIDOFF,1000,15,29,college,0,1
494,COLLECTION_PAIDOFF,1000,30,30,High School or Below,0,1
495,COLLECTION_PAIDOFF,1000,30,28,High School or Below,0,1
496,COLLECTION_PAIDOFF,1000,15,26,High School or Below,0,1
497,COLLECTION_PAIDOFF,800,15,30,college,0,1
498,COLLECTION_PAIDOFF,1000,30,38,college,1,0
499,COLLECTION_PAIDOFF,1000,30,28,High School or Below,0,1

In [96]:
# Similary lets do the same process for both load_status and education.
# This process is called Categorical Conversion into Numerics of One-hot-coding

df_loan_status = pd.get_dummies(df['loan_status'])
df_education = pd.get_dummies(df['education'])
df = pd.concat([df, df_loan_status], axis=1)
df = pd.concat([df, df_education], axis=1)
df = df.drop(['loan_status', 'education'], axis=1)

In [97]:
df

,Principal,terms,age,female,male,COLLECTION,COLLECTION_PAIDOFF,PAIDOFF,Bechalor,High School or Below,Master or Above,college
0,1000,30,45,0,1,0,0,1,0,1,0,0
1,1000,30,50,1,0,0,0,1,1,0,0,0
2,1000,30,33,1,0,0,0,1,1,0,0,0
3,1000,15,27,0,1,0,0,1,0,0,0,1
4,1000,30,28,1,0,0,0,1,0,0,0,1
5,300,7,35,0,1,0,0,1,0,0,1,0
6,1000,30,29,0,1,0,0,1,0,0,0,1
7,1000,30,36,0,1,0,0,1,0,0,0,1
8,1000,30,28,0,1,0,0,1,0,0,0,1
9,800,15,26,0,1,0,0,1,0,0,0,1
10,300,7,29,0,1,0,0,1,0,0,0,1
11,1000,15,39,0,1,0,0,1,0,1,0,0
12,1000,30,26,0,1,0,0,1,0,0,0,1
13,900,7,26,1,0,0,0,1,0,0,0,1
14,1000,7,27,0,1,0,0,1,0,1,0,0
15,800,15,26,0,1,0,0,1,0,0,0,1
16,1000,30,40,0,1,0,0,1,0,1,0,0
17,1000,15,32,0,1,0,0,1,0,1,0,0
18,1000,30,32,0,1,0,0,1,0,1,0,0
19,800,30,26,0,1,0,0,1,0,0,0,1
20,1000,30,26,0,1,0,0,1,0,0,0,1
21,1000,30,43,1,0,0,0,1,0,1,0,0
22,1000,30,25,0,1,0,0,1,0,1,0,0
23,1000,15,26,0,1,0,0,1,0,0,0,1
24,1000,30,26,0,1,0,0,1,0,0,0,1
25,1000,30,29,0,1,0,0,1,0,1,0,0
26,800,15,39,0,1,0,0,1,1,0,0,0
27,1000,15,34,0,1,0,0,1,1,0,0,0
28,1000,30,31,0,1,0,0,1,0,0,0,1
29,1000,30,33,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
470,1000,15,32,0,1,0,1,0,0,1,0,0
471,1000,30,27,0,1,0,1,0,1,0,0,0
472,800,15,33,0,1,0,1,0,0,0,0,1
473,1000,30,30,0,1,0,1,0,0,1,0,0
474,800,15,26,1,0,0,1,0,0,1,0,0
475,1000,30,35,1,0,0,1,0,0,0,0,1
476,800,15,46,1,0,0,1,0,0,0,0,1
477,1000,30,27,0,1,0,1,0,0,0,0,1
478,1000,15,22,0,1,0,1,0,0,1,0,0
479,1000,30,27,0,1,0,1,0,1,0,0,0
480,1000,15,30,0,1,0,1,0,1,0,0,0
481,1000,15,27,0,1,0,1,0,0,1,0,0
482,800,15,47,0,1,0,1,0,0,0,0,1
483,1000,30,30,0,1,0,1,0,0,0,0,1
484,1000,30,26,0,1,0,1,0,0,0,0,1
485,1000,30,38,0,1,0,1,0,0,1,0,0
486,800,15,46,0,1,0,1,0,0,1,0,0
487,1000,30,35,0,1,0,1,0,1,0,0,0
488,1000,15,45,0,1,0,1,0,0,0,0,1
489,1000,30,36,0,1,0,1,0,0,0,0,1
490,1000,30,38,0,1,0,1,0,0,1,0,0
491,1000,30,27,0,1,0,1,0,0,0,0,1
492,1000,30,27,0,1,0,1,0,1,0,0,0
493,1000,15,29,0,1,0,1,0,0,0,0,1
494,1000,30,30,0,1,0,1,0,0,1,0,0
495,1000,30,28,0,1,0,1,0,0,1,0,0
496,1000,15,26,0,1,0,1,0,0,1,0,0
497,800,15,30,0,1,0,1,0,0,0,0,1
498,1000,30,38,1,0,0,1,0,0,0,0,1
499,1000,30,28,0,1,0,1,0,0,1,0,0

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
Principal               500 non-null int64
terms                   500 non-null int64
age                     500 non-null int64
female                  500 non-null uint8
male                    500 non-null uint8
COLLECTION              500 non-null uint8
COLLECTION_PAIDOFF      500 non-null uint8
PAIDOFF                 500 non-null uint8
Bechalor                500 non-null uint8
High School or Below    500 non-null uint8
Master or Above         500 non-null uint8
college                 500 non-null uint8
dtypes: int64(3), uint8(9)
memory usage: 16.2 KB

In [99]:
# In machine learning, its always easier to compute if the values are between 1 to 0 (either positive or negative)
# The process of converting them into such values is called normalization
# There are many ways to normalize them.
# Here I choose MinMaxScalar which converts the highest value to 1 and smallest value to 0. Remaining values exist between 0 to 1

df_to_norm = df[['Principal', 'terms', 'age']]
df_to_norm

     Principal  terms  age
0         1000     30   45
1         1000     30   50
2         1000     30   33
3         1000     15   27
4         1000     30   28
5          300      7   35
6         1000     30   29
7         1000     30   36
8         1000     30   28
9          800     15   26
10         300      7   29
11        1000     15   39
12        1000     30   26
13         900      7   26
14        1000      7   27
15         800     15   26
16        1000     30   40
17        1000     15   32
18        1000     30   32
19         800     30   26
20        1000     30   26
21        1000     30   43
22        1000     30   25
23        1000     15   26
24        1000     30   26
25        1000     30   29
26         800     15   39
27        1000     15   34
28        1000     30   31
29        1000     30   33
..         ...    ...  ...
470       1000     15   32
471       1000     30   27
472        800     15   33
473       1000     30   30
474        800     15   26
475       1000     30   35
476        800     15   46
477       1000     30   27
478       1000     15   22
479       1000     30   27
480       1000     15   30
481       1000     15   27
482        800     15   47
483       1000     30   30
484       1000     30   26
485       1000     30   38
486        800     15   46
487       1000     30   35
488       1000     15   45
489       1000     30   36
490       1000     30   38
491       1000     30   27
492       1000     30   27
493       1000     15   29
494       1000     30   30
495       1000     30   28
496       1000     15   26
497        800     15   30
498       1000     30   38
499       1000     30   28

[500 rows x 3 columns]

In [100]:
df_norm = (df_to_norm - df_to_norm.min()) / (df_to_norm.max() - df_to_norm.min())
df_norm

     Principal     terms       age
0     1.000000  1.000000  0.818182
1     1.000000  1.000000  0.969697
2     1.000000  1.000000  0.454545
3     1.000000  0.347826  0.272727
4     1.000000  1.000000  0.303030
5     0.000000  0.000000  0.515152
6     1.000000  1.000000  0.333333
7     1.000000  1.000000  0.545455
8     1.000000  1.000000  0.303030
9     0.714286  0.347826  0.242424
10    0.000000  0.000000  0.333333
11    1.000000  0.347826  0.636364
12    1.000000  1.000000  0.242424
13    0.857143  0.000000  0.242424
14    1.000000  0.000000  0.272727
15    0.714286  0.347826  0.242424
16    1.000000  1.000000  0.666667
17    1.000000  0.347826  0.424242
18    1.000000  1.000000  0.424242
19    0.714286  1.000000  0.242424
20    1.000000  1.000000  0.242424
21    1.000000  1.000000  0.757576
22    1.000000  1.000000  0.212121
23    1.000000  0.347826  0.242424
24    1.000000  1.000000  0.242424
25    1.000000  1.000000  0.333333
26    0.714286  0.347826  0.636364
27    1.000000  0.347826  0.484848
28    1.000000  1.000000  0.393939
29    1.000000  1.000000  0.454545
..         ...       ...       ...
470   1.000000  0.347826  0.424242
471   1.000000  1.000000  0.272727
472   0.714286  0.347826  0.454545
473   1.000000  1.000000  0.363636
474   0.714286  0.347826  0.242424
475   1.000000  1.000000  0.515152
476   0.714286  0.347826  0.848485
477   1.000000  1.000000  0.272727
478   1.000000  0.347826  0.121212
479   1.000000  1.000000  0.272727
480   1.000000  0.347826  0.363636
481   1.000000  0.347826  0.272727
482   0.714286  0.347826  0.878788
483   1.000000  1.000000  0.363636
484   1.000000  1.000000  0.242424
485   1.000000  1.000000  0.606061
486   0.714286  0.347826  0.848485
487   1.000000  1.000000  0.515152
488   1.000000  0.347826  0.818182
489   1.000000  1.000000  0.545455
490   1.000000  1.000000  0.606061
491   1.000000  1.000000  0.272727
492   1.000000  1.000000  0.272727
493   1.000000  0.347826  0.333333
494   1.000000  1.000000  0.363636
495   1.000000  1.000000  0.303030
496   1.000000  0.347826  0.242424
497   0.714286  0.347826  0.363636
498   1.000000  1.000000  0.606061
499   1.000000  1.000000  0.303030

[500 rows x 3 columns]

In [101]:
df = df.drop(['Principal', 'terms', 'age'], axis=1)
df = pd.concat([df,df_norm], axis=1)

In [102]:
df

,female,male,COLLECTION,COLLECTION_PAIDOFF,PAIDOFF,Bechalor,High School or Below,Master or Above,college,Principal,terms,age
0,0,1,0,0,1,0,1,0,0,1.000000,1.000000,0.818182
1,1,0,0,0,1,1,0,0,0,1.000000,1.000000,0.969697
2,1,0,0,0,1,1,0,0,0,1.000000,1.000000,0.454545
3,0,1,0,0,1,0,0,0,1,1.000000,0.347826,0.272727
4,1,0,0,0,1,0,0,0,1,1.000000,1.000000,0.303030
5,0,1,0,0,1,0,0,1,0,0.000000,0.000000,0.515152
6,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.333333
7,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.545455
8,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.303030
9,0,1,0,0,1,0,0,0,1,0.714286,0.347826,0.242424
10,0,1,0,0,1,0,0,0,1,0.000000,0.000000,0.333333
11,0,1,0,0,1,0,1,0,0,1.000000,0.347826,0.636364
12,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.242424
13,1,0,0,0,1,0,0,0,1,0.857143,0.000000,0.242424
14,0,1,0,0,1,0,1,0,0,1.000000,0.000000,0.272727
15,0,1,0,0,1,0,0,0,1,0.714286,0.347826,0.242424
16,0,1,0,0,1,0,1,0,0,1.000000,1.000000,0.666667
17,0,1,0,0,1,0,1,0,0,1.000000,0.347826,0.424242
18,0,1,0,0,1,0,1,0,0,1.000000,1.000000,0.424242
19,0,1,0,0,1,0,0,0,1,0.714286,1.000000,0.242424
20,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.242424
21,1,0,0,0,1,0,1,0,0,1.000000,1.000000,0.757576
22,0,1,0,0,1,0,1,0,0,1.000000,1.000000,0.212121
23,0,1,0,0,1,0,0,0,1,1.000000,0.347826,0.242424
24,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.242424
25,0,1,0,0,1,0,1,0,0,1.000000,1.000000,0.333333
26,0,1,0,0,1,1,0,0,0,0.714286,0.347826,0.636364
27,0,1,0,0,1,1,0,0,0,1.000000,0.347826,0.484848
28,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.393939
29,0,1,0,0,1,0,0,0,1,1.000000,1.000000,0.454545
...,...,...,...,...,...,...,...,...,...,...,...,...
470,0,1,0,1,0,0,1,0,0,1.000000,0.347826,0.424242
471,0,1,0,1,0,1,0,0,0,1.000000,1.000000,0.272727
472,0,1,0,1,0,0,0,0,1,0.714286,0.347826,0.454545
473,0,1,0,1,0,0,1,0,0,1.000000,1.000000,0.363636
474,1,0,0,1,0,0,1,0,0,0.714286,0.347826,0.242424
475,1,0,0,1,0,0,0,0,1,1.000000,1.000000,0.515152
476,1,0,0,1,0,0,0,0,1,0.714286,0.347826,0.848485
477,0,1,0,1,0,0,0,0,1,1.000000,1.000000,0.272727
478,0,1,0,1,0,0,1,0,0,1.000000,0.347826,0.121212
479,0,1,0,1,0,1,0,0,0,1.000000,1.000000,0.272727
480,0,1,0,1,0,1,0,0,0,1.000000,0.347826,0.363636
481,0,1,0,1,0,0,1,0,0,1.000000,0.347826,0.272727
482,0,1,0,1,0,0,0,0,1,0.714286,0.347826,0.878788
483,0,1,0,1,0,0,0,0,1,1.000000,1.000000,0.363636
484,0,1,0,1,0,0,0,0,1,1.000000,1.000000,0.242424
485,0,1,0,1,0,0,1,0,0,1.000000,1.000000,0.606061
486,0,1,0,1,0,0,1,0,0,0.714286,0.347826,0.848485
487,0,1,0,1,0,1,0,0,0,1.000000,1.000000,0.515152
488,0,1,0,1,0,0,0,0,1,1.000000,0.347826,0.818182
489,0,1,0,1,0,0,0,0,1,1.000000,1.000000,0.545455
490,0,1,0,1,0,0,1,0,0,1.000000,1.000000,0.606061
491,0,1,0,1,0,0,0,0,1,1.000000,1.000000,0.272727
492,0,1,0,1,0,1,0,0,0,1.000000,1.000000,0.272727
493,0,1,0,1,0,0,0,0,1,1.000000,0.347826,0.333333
494,0,1,0,1,0,0,1,0,0,1.000000,1.000000,0.363636
495,0,1,0,1,0,0,1,0,0,1.000000,1.000000,0.303030
496,0,1,0,1,0,0,1,0,0,1.000000,0.347826,0.242424
497,0,1,0,1,0,0,0,0,1,0.714286,0.347826,0.363636
498,1,0,0,1,0,0,0,0,1,1.000000,1.000000,0.606061
499,0,1,0,1,0,0,1,0,0,1.000000,1.000000,0.303030

In [ ]:
# Thus the dataset is clean to move further to production